body {
    font-family: 'Raleway', sans-serif;
    color: #333333;
    margin: 0;
}

.gallery {
    width: 980px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.gallery h2 {
    font-size: 42px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 45px;
}

.active-photo {
    display: block;
    margin-bottom: 20px;
}

.preview-list {
    /* Сброс стилей списка */
    margin: 0;
    padding: 0;
    list-style: none;

    /* Выстраивание элементов в ряд */
    display: flex;
}

.preview-list li {
    /* Установка ширины элемента */
    width: 180px;

    /* Добавление отступов */
    margin-right: 20px;
}

.preview-list li:last-child {
    /* Обнуление правого отступа */
    margin-right: 0;
}

.preview-list a {
    /* Установка относительного позиционироания */
    position: relative;
}

.preview-list a::before {
    /* Позиционирование псевдоэлемента */
    content: '';
    position: absolute;

    /* Парамерты фона оверлея */
    background-color: rgba(255, 255, 255, 0.5);

    /* Размеры оверлея по размеру родителя */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
